@charset "UTF-8";
@import url('https://fonts.googleeapis.com/css2?family=Noto+Sans+KR&display=swap');

 * {
	font-size: 15px;
	letter-spacing: 0.04em;
	word-break: keep-all;
	font-family: 'Noto Sans KR', sans-serif;
} 
.page-link {
	font-weight: bold !important;
	padding: 7px 2px !important; 
	margin: 0 2px !important;
	color: #999999 !important; 
	background: transparent !important;
	border: none !important;
}
.active .page-link {
	border-bottom: 1px solid black !important;
	padding-bottom: 1px !important;
	color: black !important;
	border: none !important;
}