<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.green.portfolio.dao.BookDAO">
	<select id="getBookList" resultType="kr.green.portfolio.vo.BookVO">
		select * from book 
	</select>
	<select id="getBook" resultType="kr.green.portfolio.vo.BookVO">
		select * from book where bk_isbn = #{bk_isbn}
	</select>
	<insert id="getBookInfo" useGeneratedKeys="true" parameterType="kr.green.portfolio.vo.BookVO" keyProperty="bk_isbn">
		insert into book(bk_isbn, bk_title, bk_subtitle, bk_au_writer, bk_publish, bk_page, bk_publish_date, bk_mainImg, bk_mainUpload, bk_pu_num)
			values(#{bk_isbn}, #{bk_title}, #{bk_subtitle}, #{bk_au_writer}, #{bk_publish}, #{bk_page}, #{bk_publish_date}, #{bk_mainImg}, #{bk_mainUpload}, #{bk_pu_num})
	</insert>
	<update id="updateBook">
		update book set 
			bk_isbn = #{bk_isbn},
			bk_title = #{bk_title},
			bk_subtitle= #{bk_subtitle},
			bk_au_writer= #{bk_au_writer},
			bk_publish = #{bk_publish},
			bk_page = #{bk_page},
			bk_publish_date = #{bk_publish_date},
			bk_pu_num = #{bk_pu_num}
				where bk_isbn = #{bk_isbn}
	</update>
</mapper>

