<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.green.portfolio.dao.CartDAO">
	<insert id="addCart">
		insert into cart (ca_amount,ca_re_code, ca_me_id)
			values (#{ca_amount},#{ca_re_code}, #{ca_me_id})
	</insert>
	<select id="getCartList" resultType="kr.green.portfolio.vo.CartVO">
		select cart.*, bk_mainImg as ca_mainImg, re_title as ca_title, bk_subtitle as ca_subTitle, re_price as ca_price, re_amount as ca_re_amount from cart 
			join registration on ca_re_code = re_code 
    		join book on bk_isbn = re_bk_isbn where ca_me_id = #{me_id} and ca_valid = 'I';
	</select>
	<update id="deleteCart">
		update cart set
			ca_valid = #{ca_valid}
			where ca_me_id = #{ca_me_id} and ca_re_code = #{ca_re_code}
	</update>
	<update id="updateCart">
		update cart set
			ca_amount = #{ca_amount}
				where ca_me_id = #{ca_me_id} and ca_re_code = #{ca_re_code}
	</update>
	<select id="selectCart" resultType="kr.green.portfolio.vo.CartVO">
		select * from cart where ca_me_id = #{ca_me_id} and ca_re_code = #{ca_re_code} and ca_valid="I"
	</select>
	<select id="getPayment" resultType="kr.green.portfolio.vo.CartVO">
		select cart.*, bk_mainImg as ca_mainImg, re_title as ca_title, bk_subtitle as ca_subTitle, re_price as ca_price,  bk_isbn as ca_isbn from cart 
				join registration on ca_re_code = re_code 
    			join book on bk_isbn = re_bk_isbn where ca_me_id = #{member.me_id} and ca_num = #{ca_num} and ca_valid = 'I';
	</select>
	<select id="getPaymentList" resultType="kr.green.portfolio.vo.CartVO">
		select re_title as ca_title, #{amount} as ca_amount, bk_mainImg as ca_mainImg, re_price as ca_price , bk_subtitle as ca_subTitle, bk_isbn as ca_isbn
			from registration join book on bk_isbn = re_bk_isbn where re_bk_isbn=#{isbn}
	</select>
	<insert id="getCartRegister">
			insert into cart (ca_amount,ca_re_code, ca_me_id)
			select #{integer}, re_code, #{ca_me_id} from registration where re_bk_isbn = #{bigInteger}
	</insert>
	<select id="seletCartRegister" resultType="kr.green.portfolio.vo.CartVO" >
		select * from book join registration on bk_isbn = re_bk_isbn
			join cart on re_code = ca_re_code where (bk_isbn=#{bigInteger} and ca_valid="I" and ca_me_id = #{ca_me_id})
	</select>
	<update id="updateCartRegister">
		update cart set
			ca_amount = #{integer}
				where ca_num = #{ca_num}
	</update>
	<insert id="insertPayFinished" >
		insert into `order` (or_num, or_me_id, or_receiver, or_payment, or_deliver, or_green_point, or_deli_date, or_sh_num, or_pay_card)
			values (#{or_num}, #{or_me_id}, #{or_receiver}, #{or_payment}, #{or_deliver}, #{or_green_point}, #{or_deli_date}, #{or_sh_num}, #{or_pay_card})
	</insert>
	<select id="getOrder" resultType="kr.green.portfolio.vo.OrderVO">
		select * from `order` where or_num = #{partner_order_id}
	</select>
	<update id="updateOrder">
		update `order` set
			or_state = #{or_state}
				where or_num = #{or_num}
	</update>
	<insert id="insertPayment">
		insert into payment (pa_num, pa_methods, pa_name, pa_or_num, pa_point, pa_approved)
			values(#{tid}, #{payment_method_type}, #{me_name}, #{partner_order_id}, #{point}, #{approved_at})
	</insert>
	<insert id="insertParticulars">
		insert into particulars (pr_or_num, pr_bk_isbn, pr_amount, pr_use_point)
			values(#{partner_order_id}, #{bigInteger}, #{integer}, #{pr_use_point})
	</insert>
	<update id="updateValid">
		update cart join registration on ca_re_code = re_code
			set ca_valid = "D" where re_bk_isbn =#{bigInteger} and ca_me_id = #{me_id};
	</update>
	<select id="selectOrderList" resultType="kr.green.portfolio.vo.OrderVO">
		select `order`.*,re_title as or_title, or_count as or_re_title from `order`
			left join (select *,count(*) as or_count from particulars group by pr_or_num) as t on or_num = pr_or_num 
         		join registration on pr_bk_isbn = re_bk_isbn
        			where or_me_id = #{me_id}
        				limit #{cri.pageStart}, #{cri.perPageNum}
	</select>
	<select id="getParticularsList" resultType="kr.green.portfolio.vo.ParticularsVO">
		select * , re_title as pr_title, re_price as pr_price from particulars join registration on pr_bk_isbn = re_bk_isbn
			where pr_or_num = #{or_num}
	</select>
	<select id="detailOrderList" resultType="kr.green.portfolio.vo.OrderVO">
		select *, pr_use_point as or_use_point, pa_num as or_pa_num, pa_methods as or_methods, pa_approved as or_approved, me_name as or_name
			 from `order` join `member` on or_me_id = me_id
				join (select * from particulars group by pr_or_num) as t on pr_or_num = or_num
					join payment on or_num = pa_or_num
			 			where or_num = #{or_num} and me_id = #{checkId}
	</select>
	<insert id="insertShipping" useGeneratedKeys="true" parameterType="kr.green.portfolio.vo.ShippingVO" keyProperty="shipping.sh_num">
		insert into shipping (sh_name, sh_doro, sh_jibun, sh_phone)
			values (#{shipping.sh_name}, #{shipping.sh_doro}, #{shipping.sh_jibun}, #{shipping.sh_phone})
	</insert>
	<select id="selectShipping" resultType="kr.green.portfolio.vo.ShippingVO">
		select * from shipping join `order` on sh_num = or_sh_num
			join `member` on or_me_id = me_id where me_id = #{userId} limit 0,4
	</select>
	<select id="detailShippingList" resultType="kr.green.portfolio.vo.ShippingVO">
		select * from shipping join `order` on or_sh_num = sh_num
			join `member` on me_id = or_me_id
				where me_id = #{checkId} and or_num = #{or_num}
	</select>
	<insert id="insertPaymentInic">
		insert into payment (pa_num, pa_methods, pa_name, pa_or_num, pa_approved, imp_uid)
			values(#{apply_num}, #{pay_method}, #{me_name}, #{or_num}, #{formattedDate}, #{imp_uid})
	</insert>
	<update id="updateOrderState">
		update `order` set
			or_state = "결제완료"
				where or_num = #{or_num}
	</update>
	<select id="adminOrderList" resultType="kr.green.portfolio.vo.OrderVO">
		select `order`.*,re_title as or_title, or_count as or_re_title, pa_methods as or_methods, pa_approved as or_approved, pr_use_point as or_use_point,
		pa_num as or_pa_num, imp_uid as or_imp_uid from `order`
		 left join (select *,count(*) as or_count from particulars group by pr_or_num) as t on or_num = pr_or_num 
        			join registration on pr_bk_isbn = re_bk_isbn
						join payment on pa_or_num = or_num
							where (or_state="결제완료" or or_state ="배송중" or or_state="배송완료" or or_state="구매확정" or or_state = "결제취소")
								limit #{cri.pageStart}, #{cri.perPageNum}
	</select>
	<select id="selectAdminOrder" resultType="kr.green.portfolio.vo.OrderVO">
		select * from `order` where or_num = #{or_num}
	</select>
	<update id="updateState">
		update `order` set
			<if test="or_state == 'finished'">
				or_state = "결제완료"
			</if>
			<if test="or_state == 'delivering'">
				or_state = "배송중"
			</if>
			<if test="or_state == 'deli-complete'">
				or_state = "배송완료"
			</if>
			<if test="or_state == 'confirm'">
				or_state = "구매확정"
			</if>
			<if test="or_state == 'cancel'">
				or_state = "결제취소"
			</if>
			where or_num = #{or_num}
	</update>
	<update id="updateCancel">
		update `order` set
			or_state = "결제취소"
				where or_num = #{or_num}
	</update>
	<select id="getTotalCountOrders" resultType="int">
		select count(*) from `order`
	</select>
	<select id="detailPaymentList" resultType="kr.green.portfolio.vo.PaymentVO" >
		select * from payment join `order` on or_num = pa_or_num
			join `member` on me_id = or_me_id 
				where or_num = #{or_num}
	</select>
	<update id="updateOrderConfirmed">
		update `order` set
			or_state = "구매확정"
				where (or_me_id = #{po_me_id} and or_num = #{or_num}) 
	</update>
</mapper>

