<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.green.portfolio.dao.CartDAO">
	<insert id="addCart">
		insert into cart (ca_amount,ca_re_code, ca_me_id)
			values (#{ca_amount},#{ca_re_code}, #{ca_me_id})
	</insert>
	<select id="getCartList" resultType="kr.green.portfolio.vo.CartVO">
		select cart.*, bk_mainImg as ca_mainImg, re_title as ca_title, bk_subtitle as ca_subTitle, re_price as ca_price from cart 
			join registration on ca_re_code = re_code 
    		join book on bk_isbn = re_bk_isbn where ca_me_id = #{me_id} and ca_valid = 'I';
	</select>
	<update id="deleteCart">
		update cart set
			ca_valid = #{ca_valid}
			where ca_me_id = #{ca_me_id} and ca_re_code = #{ca_re_code}
	</update>
	<update id="updateCart">
		update cart set
			ca_amount = #{ca_amount}
				where ca_me_id = #{ca_me_id} and ca_re_code = #{ca_re_code}
	</update>
	<select id="selectCart" resultType="kr.green.portfolio.vo.CartVO">
		select * from cart where ca_me_id = #{ca_me_id} and ca_re_code = #{ca_re_code} and ca_valid="I"
	</select>
	<select id="getPayment" resultType="kr.green.portfolio.vo.CartVO">
		select cart.*, bk_mainImg as ca_mainImg, re_title as ca_title, bk_subtitle as ca_subTitle, re_price as ca_price from cart 
				join registration on ca_re_code = re_code 
    			join book on bk_isbn = re_bk_isbn where ca_me_id = #{member.me_id} and ca_num = #{ca_num} and ca_valid = 'I';
	</select>
	<select id="getPaymentList" resultType="kr.green.portfolio.vo.CartVO">
		select re_title as ca_title, #{amount} as ca_amount, bk_mainImg as ca_mainImg, re_price as ca_price , bk_subtitle as ca_subTitle, bk_isbn as ca_isbn
			from registration join book on bk_isbn = re_bk_isbn where re_bk_isbn=#{isbn}
	</select>
	<insert id="getCartRegister">
			insert into cart (ca_amount,ca_re_code, ca_me_id)
			select #{integer}, re_code, #{ca_me_id} from registration where re_bk_isbn = #{bigInteger}
	</insert>
	<select id="seletCartRegister" resultType="kr.green.portfolio.vo.CartVO" >
		select * from book join registration on bk_isbn = re_bk_isbn
			join cart on re_code = ca_re_code where bk_isbn=#{bigInteger} and ca_valid="I";
	</select>
	<update id="updateCartRegister">
		update cart set
			ca_amount = #{integer}
				where ca_num = #{ca_num}
	</update>
	<insert id="insertPayFinished">
		insert into `order` (or_num, or_me_id, or_receiver, or_payment)
			values (#{order.or_num}, #{order.or_me_id}, #{order.or_receiver}, #{finalCount})
	</insert>
	<insert id="insertParticulars">
		insert into particulars (pr_or_num, pr_bk_isbn, pr_payment, pr_deli_date, pr_amount, pr_pa_num, pr_deli_price)
			select
	</insert>
</mapper>

