<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.green.portfolio.dao.CartDAO">
	<insert id="addCart">
		insert into cart (ca_amount,ca_re_code, ca_me_id)
			values (#{ca_amount},#{ca_re_code}, #{ca_me_id})
	</insert>
	<select id="getCartList" resultType="kr.green.portfolio.vo.CartVO">
		select cart.*, bk_mainImg as ca_mainImg, re_title as ca_title, bk_subtitle as ca_subTitle, re_price as ca_price from cart 
			join registration on ca_re_code = re_code 
    		join book on bk_isbn = re_bk_isbn where ca_me_id = #{me_id};
	</select>
</mapper>

