<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.green.portfolio.dao.MemberDAO">
	<select id="getMember" resultType="kr.green.portfolio.vo.MemberVO">
		select * from member where me_id = #{me_id}
	</select>
	<insert id="insertMember">
		insert into member(me_id, me_nickname, me_password, me_gender, me_birth, me_phone, me_address, me_name, me_resident_num, me_email, me_jAddress) 
			values(#{me_id}, #{me_nickname}, #{me_password}, #{me_gender}, #{me_birth}, #{me_phone}, #{me_address}, #{me_name}, #{me_resident_num}, #{me_email}, #{me_jAddress})
	</insert>
	<select id="selectUser" resultType="kr.green.portfolio.vo.MemberVO">
		select * from member where me_id = #{me_id}
	</select>
	<update id="keepLogin">
		update member set 
			me_session_id = #{me_session_id},
			me_session_limit = #{me_session_limit}
			where me_id = #{me_id}
	</update>
	<select id="selectUserBySession" resultType = "kr.green.portfolio.vo.MemberVO">
		select * from member
			where me_session_id = #{me_session_id} and me_session_limit > now()
	</select>
	<update id="updateMember">
		update member set 
			me_password = #{me_password},
			me_gender = #{me_gender},
			me_email = #{me_email},
			me_address = #{me_address},
			me_jAddress = #{me_jAddress},
			me_nickname = #{me_nickname},
			me_birth = #{me_birth},
			me_phone = #{me_phone}
				where me_id = #{me_id}
	</update>
	<select id="getTotalCountPublish" resultType="int">
		select count(*) from publisher
	</select>
	<insert id="pubRegister">
		insert into publisher(pu_name, pu_phone, pu_ceo)
			values(#{pu_name}, #{pu_phone}, #{pu_ceo})
	</insert>
	<select id="getPublisherList" resultType = "kr.green.portfolio.vo.PublisherVO">
		select * from publisher
			<if test="cri.type==0">
				where (pu_num like concat('%',#{cri.search},'%')
				or pu_name like concat('%',#{cri.search},'%')
				or pu_phone like concat('%',#{cri.search},'%')
				or pu_ceo like concat('%',#{cri.search},'%'))
			</if>
			<if test="cri.type==1">
				where pu_name like concat('%',#{cri.search},'%')
			</if>
			limit #{cri.pageStart}, #{cri.perPageNum}
	</select>
	<select id="getPublisher" resultType = "kr.green.portfolio.vo.PublisherVO">
		select * from publisher where pu_num = #{pu_num}
	</select>
	<insert id="authRegister">
		insert into author (au_num, au_writer, au_title, au_contents, au_birth)
			values(#{au_num}, #{au_writer}, #{au_title}, #{au_contents}, #{au_birth})
	</insert>
	<select id="getAuthorList" resultType = "kr.green.portfolio.vo.AuthorVO">
		select * from author
			<if test="cri.type==0">
				where (au_num like concat('%',#{cri.search},'%')
				or au_writer like concat('%',#{cri.search},'%')
				or au_title like concat('%',#{cri.search},'%')
				or au_contents like concat('%',#{cri.search},'%')
				or au_birth like concat('%',#{cri.search},'%'))
			</if>
			<if test="cri.type==1">
				where (au_title like concat('%',#{cri.search},'%')
				or au_contents like concat('%',#{cri.search},'%'))
			</if>
			<if test="cri.type==2">
				where au_writer like concat('%',#{cri.search},'%')
			</if>
			limit #{cri.pageStart}, #{cri.perPageNum}
	</select>
	<select id="getTotalCountAuthor" resultType="int">
		select count(*) from author
	</select>
	<select id="getAuthor" resultType="kr.green.portfolio.vo.AuthorVO">
		select * from author where au_num = #{au_num}
	</select>
	<update id="updatePub">
		update publisher set
			pu_num = #{pu_num},
			pu_name = #{pu_name},
			pu_phone = #{pu_phone},
			pu_ceo = #{pu_ceo}
			where pu_num = #{pu_num}
	</update>
	<update id="updateAuth">
		update author set
			au_num = #{au_num},
			au_writer = #{au_writer},
			au_title = #{au_title},
			au_contents = #{au_contents},
			au_birth = #{au_birth}
				where au_num = #{au_num}
	</update>
	<insert id="booksRegi">
		insert into books (bs_num, bs_bk_isbn, bs_part, bs_name, bs_au_num)
			values(#{bs_num}, #{bs_bk_isbn}, #{bs_part}, #{bs_name}, #{bs_au_num})
	</insert>
	<select id="getTotalCountBooks" resultType="int">
		select count(*) from books
	</select>
	<select id="getBooksList" resultType="kr.green.portfolio.vo.BooksVO">
		select * from books
			<if test="cri.type==0">
				where (bs_num like concat('%',#{cri.search},'%')
				or bs_bk_isbn like concat('%',#{cri.search},'%')
				or bs_part like concat('%',#{cri.search},'%')
				or bs_name like concat('%',#{cri.search},'%')
				or bs_au_num like concat('%',#{cri.search},'%'))
			</if>
			<if test="cri.type==1">
				where (bs_name like concat('%',#{cri.search},'%')
				or bs_part like concat('%',#{cri.search},'%'))
			</if>
			limit #{cri.pageStart}, #{cri.perPageNum}
	</select>
	<select id="getBooks" resultType="kr.green.portfolio.vo.BooksVO">
		select * from books where bs_num = #{bs_num}
	</select>
	<update id="updateBooks">
		update books set
			bs_num = #{bs_num},
			bs_bk_isbn = #{bs_bk_isbn},
			bs_part = #{bs_part},
			bs_name = #{bs_name},
			bs_au_num = #{bs_au_num}
				where bs_num = #{bs_num}			
	</update>
	<select id="authorList" resultType="kr.green.portfolio.vo.AuthorVO">
		select * from author join books on au_num = bs_au_num
			where bs_bk_isbn = #{re_bk_isbn} and bs_part = '저자'
	</select>
	<select id="subAuthorList" resultType="kr.green.portfolio.vo.AuthorVO">
		select * from author join books on au_num = bs_au_num
			where bs_bk_isbn = #{re_bk_isbn} and bs_part = '역자'
	</select>
	<select id="booksList" resultType="kr.green.portfolio.vo.BooksVO">
		select * from books join registration on re_bk_isbn = bs_bk_isbn where re_catagory = #{re_catagory} and bs_part='역자'
		 limit #{cri.pageStart}, #{cri.perPageNum}
	</select>
	<select id="getTotalCountGreenPoint" resultType="int">
		select count(*) from member
	</select>
	<select id="getBooksSearch" resultType="kr.green.portfolio.vo.BooksVO">
		select *,au_title as bs_title, au_contents as bs_contents, au_birth as bs_birth
		 from books join author on bs_au_num = au_num
		 	where (bs_bk_isbn like concat('%',#{cri.search},'%')
				or bs_name like concat('%',#{cri.search},'%')
				or au_title like concat ('%',#{cri.search},'%')
				or au_contents like concat('%',#{cri.search},'%'))
			limit #{cri.pageStart}, #{cri.perPageNum}
	</select>
	<select id="getAuthorIntro" resultType="kr.green.portfolio.vo.BooksVO">
		select *,au_title as bs_title, au_contents as bs_contents, au_birth as bs_birth
			from books join author on bs_au_num = au_num
			  where bs_num = #{bs_num}
	</select>
	<select id="getTotalCountMyPage" resultType="int">
		select count(*) from `order`
	</select>
	<update id="updatePoint">
		update `member` set
			me_point = me_point - #{pr_use_point}
				where me_id = #{me_id}
	</update>
</mapper>

